
body{
	background: black;
}

.center{
	margin-right:auto;
	margin-left:auto;	
}

#exerciseText{
	border:2px;
	background-color: rgb(200,256,256);
	max-width:50em;
	min-height:1em;
}

 /*****************	KEYBOARD AND KEYS   ********************/
#keyboard{
    background-color: white;
    border:2px;
	border-radius: 3px;
	padding:3em;
}

.key3d{  /*shape of a key; sides, shadows, shines but not the plain top*/
	display:inline-block;
  	border: solid 1px black;
	border-radius: 5px;
	border-style:outset;
	width:40px;
	height: 40px;
	margin:0px;
	padding: 4px 6px 9px;
	background-color: #cccccc;
}

.key2d{  /* plain top of the key where we can see the character printed*/
	position: absolute;
	border-radius: 2px;
  	border: solid 1px #ddd;
	height: 36px;
	width: 36px;
	background-color: #fcfcfc;
  	padding: 2px;
  	color:#000;
}
.keylabel{
	position: relative;
	top:2px;
	left:2px;
	margin: 0px;
	font-size: 14px;
	font-family: "Helvetica", "Arial", sans-serif;
}



.key3dOldstyle{  /*idea future look changer ; old style typewritter. currently is not being used*/
    display: inline-block;
	border: solid 4px #DAC113;
	border-radius: 2.1em;
	background-color: #4F3E20;
}
.key2dOldStyle{}

/********************* 		INPUT AREA		*********************/

#inputArea{
	border:2px;
	border-style: dotted;
	width:50em;
	min-height:1em;

}
.noTextSelection{  
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;	
	user-select: none;
}


		/*keys*/

#k1{}
#k2{}
#k3{}
#k4{}
/*etc*/ 

/*dinamic image*/
.graphSize{
	width:300px;
	height: 250px;
}
#graphKeyStroke{               	/*background*/
	background-color: #555;
	border: 2px solid #999;
	position: absolute;    /*for overlaping */
	z-index: -2;
}
#static{						/*monkey body*/
	background-image: url("img/mBody.png");
	background-repeat: no-repeat;
}
#dinamic{						/*monkey hand*/
	background-image: url("img/mHand.png");
	background-repeat: no-repeat;
	z-index: -1;                    /* layer between graphKeyStroke(background) and mBody*/
	position:absolute;
	top:100px;
	left: 80px;
	-webkit-transition: all 0.5s ease-in-out;  /*inicialization of transition, actually controled by function keyAnimation*/
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
/*  for movement test purposes
#dinamic:hover{
	-webkit-transform : rotate(4deg); 
    -moz-transform : rotate(4deg); 
    -ms-transform : rotate(4deg); 
    -o-transform : rotate(4deg); 
    transform : rotate(4deg); 
}
*/
